
 @keyframes waffler {
    from {color: rgb(255, 0, 0);}
    to {color: rgb(0, 0, 0)}}
   

h1{
    animation-name: waffler;
    font-size: 50px;
    color: rgb(0, 0, 0);
    background-color: black;
    animation-duration: 4s;

    
    
}
h2{  
    margin: 400px;
    width: 400px;
    height: 200px;
    background-color: rgb(0, 0, 0);
    animation-name: example;
    animation-duration: 4s;
    font-size: 97px;
  }
  
  @keyframes example {
    from {background-color: rgb(53, 53, 53);}
    to {background-color: rgb(0, 0, 0);}}


    h3{
        margin: 400px;
        width: 400px;
        height: 200px;
        color: rgb(0, 0, 0);
        animation-name: reddead;
        animation-duration: 7s;
        font-size: 97px;
        letter-spacing: -10px;
      }
      
      @keyframes reddead {
        from {color: rgb(255, 0, 0);}
        to {color: rgb(255, 94, 0);}}
    
    p{
    animation-name: titan;
    position: right;
    animation-duration: 7s;
    color: black;
    font-size: 80px;
    font-style: italic;
    font-family: fantasy;
    font: bold;
    
    }
        @keyframes titan {
            from {color: rgb(38, 0, 255);}
            to {color: rgb(0, 217, 255);}}